{{# each Seats }}
<div class="card" style="width: 8rem">
    <div class=" card text-white bg-dark" style="height: 9rem">
        <div class="card-body">
            <b>
                <p class="card-text">{{this.seatNo}}</p>
                {{!-- <p class="card-text">{{this.PessengerName}}</p>
                <p class="card-text">{{this._id}}</p> --}}
                {{!-- <p class="card-text">{{this.deposit}}</p>
                <p class="card-text">{{this.seatStatus}}</p>
                <p class="card-text">{{this.seatResorNot}}</p> --}}
                <form method="get" action="/bus/seatsdetail/{{this.id}}">
                    <button class="btn btn-success" type="submit" id="seats2" onClick="getButtonID(this.id)">Detail</button>
                </form>
        </div>
    </div>

</div>
<br>
{{/each}}